{% extends "layout.html" %}
{% block content %}

    <script src="../static/js/amcharts/amcharts.js"></script>
    <script src="../static/js/amcharts/serial.js"></script>
    <script src="../static/js/amcharts/export.min.js"></script>
    <script src="../static/js/amcharts/light.js"></script>
    <script src="../static/js/amcharts/fabric.min.js"></script>

    <link rel="stylesheet" href="../static/css/export.css" type="text/css" media="all"/>
    <!-- manuell hinzugefuegt-->
    <script src="../static/js/amcharts/FileSaver.min.js"></script>




    <!-- own -->
    <script src="../static/js/own/amchart_diagr_echtzeit.js"></script>
    <link rel="stylesheet" href="../static/css/amchart_dia.css" type="text/css" media="all"/>

    <div id="chartdiv"></div>



{% endblock %}